{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static "../../assets/images/favicon.png" %}"
    />
    <title>
      Tableau de bord
    </title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="{% static "../../assets/node_modules/morrisjs/morris.css" %}" rel="stylesheet" />
    <!--Toaster Popup message CSS -->
    <link
      href="{% static "../assets/node_modules/toast-master/css/jquery.toast.css" %}"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="{% static "dist/css/style.min.css" %}" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="{% static "dist/css/pages/dashboard1.css" %}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {% comment %} <div class="preloader">
      <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Tableau de bord</p>
      </div>
    </div> {% endcomment %}
    <div id="main-wrapper">
    {% include 'hod/navbar.html' %}
    {% include 'hod/sidebar.html' %}
    {% block main %}{% endblock main %}

    </div>

    <script src="{% static "../assets/node_modules/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "../assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "dist/js/perfect-scrollbar.jquery.min.js" %}"></script>
    <!--Wave Effects -->
    <script src="{% static "dist/js/waves.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "dist/js/sidebarmenu.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "dist/js/custom.min.js" %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="{% static "../assets/node_modules/raphael/raphael-min.js" %}"></script>
    <script src="{% static "../assets/node_modules/morrisjs/morris.min.js" %}"></script>
    <script src="{% static "../assets/node_modules/jquery-sparkline/jquery.sparkline.min.js" %}"></script>
    <!-- Popup message jquery -->
    <script src="{% static "../assets/node_modules/toast-master/js/jquery.toast.js" %}"></script>
    <!-- Chart JS -->
    <script src="{% static "dist/js/dashboard1.js" %}"></script>
    <script src="{% static "../assets/node_modules/toast-master/js/jquery.toast.js" %}"></script>

  </body>
</html>
